@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$button-background-color: $pink;
$button-border-color: $beige-lighter;
$background: #181a1b;
$body-background-color: $background;
$footer-background-color: $background;
$text: $beige-light;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

$table-background-color: transparent;
$table-color: $beige-light !default;
$table-header-background-color: $beige-light;

$navbar-item-color: pink;
$navbar-background-color: $background;


@import "~bulma/bulma";